<div class="container mat-elevation-z8">
    <div class="button-row">
        <a mat-flat-button color="primary" style="margin: 10px;" [routerLink]="['/match-add']">
            <mat-icon>add</mat-icon>
        </a>
    </div>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let row">{{row.date}}</td>
        </ng-container>

        <ng-container matColumnDef="leagueName">
            <th mat-header-cell *matHeaderCellDef>League</th>
            <td mat-cell *matCellDef="let row">{{row.leagueName}}</td>
        </ng-container>

        <ng-container matColumnDef="firstTeamName">
            <th mat-header-cell *matHeaderCellDef>Team 1</th>
            <td mat-cell *matCellDef="let row">{{row.firstTeamName}}</td>
        </ng-container>

        <ng-container matColumnDef="secondTeamName">
            <th mat-header-cell *matHeaderCellDef>Team 2</th>
            <td mat-cell *matCellDef="let row">{{row.secondTeamName}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>